body 
{
  background-color: rgb(180, 255, 249);
  color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  font-family: Arial, sans-serif;
  text-align: center;
  #greeting 
  {
  font-size: 200%;
  }
}