.logo 
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  height: 150px;
  z-index: 10;
}

.navbar 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(139, 139, 139);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar li 
{
  display: inline;
  margin: 0 10px;
}

.navbar a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
}

.navbar a:hover 
{
  background-color: rgb(104, 104, 104);
}


body 
{
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  font-family: Arial, sans-serif;
  text-align: center;
  #greeting 
  {
  font-size: 200%;
  }
}